@tailwind base;
@tailwind utilities;
@tailwind components;

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #8F8CA8;
}

:root {
  --shiki-color-text: #F694FF;
  --shiki-bg: #21202E;
  --shiki-token-constant: #fff;
  --shiki-token-string: #9266D2;
  --shiki-token-comment: #9266D2;
  --shiki-token-keyword: #9266D2;
  --shiki-token-parameter: #9266D2;
  --shiki-token-function: #6AD4E1;
  --shiki-token-string-expression: #60FDC5;
  --shiki-token-punctuation: #F694FF;
}